# Exclude vendor libraries like the TorProject metrics and IP2Location libraries from git language stats
backend/src/main/java/** linguist-vendored
backend/src/main/kotlin/com/** linguist-vendored
frontend/src/leaflet.css linguist-vendored

# Store binary DB files in LFS
.mmdb filter=lfs diff=lfs merge=lfs -text
