# Copy this file into a new .env file to control environment variables that docker compose will pick up
# Never commit the new .env file to version control!
TORMAP_DATABASE_PASSWORD=postgres
TORMAP_VERSION=3
TORMAP_ADMIN_PASSWORD=
NEW_RELIC_INGEST_KEY=
