@import '~reactjs-popup/dist/index.css';

/*ToDo: replace !important with correct CSS*/
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.optionPaneButton {
    background-color: white !important;
    position: fixed !important;
    bottom: 10px;
    left: 50%;
}

.optionPane{
    height: 20vh !important;
    margin-top: 80vh !important;
}

.sliderContainer{
    position: fixed !important;
    bottom: 5vh !important;
    width: 80% !important;
    left: 10%;
    color: white;
}

.slider {
}