@import '~reactjs-popup/dist/index.css';

/*ToDo: replace !important with correct CSS*/
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.optionPaneButton {
    background-color: white !important;
    position: fixed !important;
    bottom: 130px;
    left: 10px;
}

.optionPane{
    height: 40vh !important;
    margin-top: 60vh !important;
}


.slider .PrivateValueLabel-offset-3.MuiSlider-valueLabel{
    top: -41px;
    left: calc(-50% - 8px);
    font-size: .7rem;
}
.slider .PrivateValueLabel-circle-4{
    width: 40px;
    height: 40px;
}
.slider .PrivateValueLabel-label-5{
    padding: 5px;
    padding-bottom: 3px;
    text-align: center;
}

.MuiSlider-markLabel{
    color: rgba(255,255,255,.6) !important;
}

.progressCircle{
    position: fixed;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
    margin: auto;
    z-index: 100;
    background-color: transparent;
}
.MuiCircularProgress-colorPrimary {
    color: #FFFFFF !important;
}
.MuiInputBase-root{
    color: #FFFFFF !important;
}